pipeline/eventbased tigger.json
{
	"name": "eventbased tigger",
	"properties": {
		"activities": [
			{
				"name": "Get container Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourceevent",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.sourceContainer",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter by filetype",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get container Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get container Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,concat('.',pipeline().parameters.fileType))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sourceContainer": {
				"type": "string",
				"defaultValue": "finance"
			},
			"fileType": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"folder": {
			"name": "orchestration"
		},
		"annotations": []
	}
}