pipeline/PL11_data_ingestionv6.json
{
	"name": "PL11_data_ingestionv6",
	"properties": {
		"description": "Ingest Webstore Online Sales Data into Data Lake ",
		"activities": [
			{
				"name": "get source to target details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetSourceToTargetInfo]",
						"storedProcedureParameters": {
							"Dataset": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DatasetName",
									"type": "Expression"
								}
							},
							"SourceSystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SystemCode",
									"type": "Expression"
								}
							},
							"Stage": {
								"type": "String",
								"value": {
									"value": "@variables('v_stage')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AQL_source_tartget",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachsourcetotarget",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get source to target details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get source to target details').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copydataonline",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": true
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Online_adls_Sales_files_Json",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().SourceRelativePathSchema\n",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().SourceTechnicalName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DSdls_dataengineer_folder_json",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().TargetContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(item().TargetRelativePathSchema,'/',formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().TargetTechnicalName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Sucess status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copydataonline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_status",
								"value": "Success"
							}
						},
						{
							"name": "Set failed status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copydataonline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_status",
								"value": "failed"
							}
						},
						{
							"name": "PL6_log_pipeline_metadata_sucess",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Sucess status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL6_log_pipeline_metadata1_old",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"snapshotDate": {
										"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
										"type": "Expression"
									},
									"status": {
										"value": "@variables('v_status')",
										"type": "Expression"
									},
									"runID": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"sourcetoTargetID": {
										"value": "@item().sourcetoTargetID",
										"type": "Expression"
									},
									"PipelineTiggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"systemCode": {
										"value": "@pipeline().parameters.SystemCode",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@pipeline().parameters.DatasetName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL6_log_pipeline_metadata_failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set failed status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL6_log_pipeline_metadata1_old",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"snapshotDate": {
										"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
										"type": "Expression"
									},
									"status": {
										"value": "@variables('v_status')",
										"type": "Expression"
									},
									"runID": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"sourcetoTargetID": {
										"value": "@item().sourcetoTargetID",
										"type": "Expression"
									},
									"PipelineTiggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"systemCode": {
										"value": "@pipeline().parameters.SystemCode",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@pipeline().parameters.DatasetName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SystemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"DatasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runID": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapshotDate": {
				"type": "string",
				"defaultValue": "2021-07-11"
			}
		},
		"variables": {
			"v_status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"v_stage": {
				"type": "String",
				"defaultValue": "SOURCE_TO_RAW"
			}
		},
		"annotations": []
	}
}