pipeline/PL_send_email_notificcation.json
{
	"name": "PL_send_email_notificcation",
	"properties": {
		"activities": [
			{
				"name": "Getemailaddress",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetEmailAddresses]",
						"storedProcedureParameters": {
							"DatasetName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							},
							"SystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Systemcode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_emailadress",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getemailaddress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getemailaddress').output",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Web",
							"description": "send email notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"contenttype": "application/json"
								},
								"url": "https://prod-17.uksouth.logic.azure.com:443/workflows/06483281ef574381ad5bf08e7bf989b2/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=T0suCJNdfZzE8WHWWUZd9REa2HJzSnLEHBB1-fZKZwk",
								"body": {
									"value": "@json(concat('{\"emailaddress\": \"', item().emailaddress, '\", \"subject\": \"Adf pipeline(PL_data)\", \"messageBody\": \"ingestion of web store data successfully\"}'))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Systemcode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			}
		},
		"annotations": []
	}
}